@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Michroma', sans-serif;
    color: rgb(245, 245, 245);
    scroll-behavior: smooth;
}

body{
    background-color: rgba(1, 1, 1, 1);
}

header {
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.089);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
header nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 6%;
}
header img{
    width: 15%;
    margin-left: 25%;
}
header nav ul li {
    margin: 1vh;
    transition: .5s;
}
header nav ul li a {
    color: rgb(250, 250, 250);
    font-size: .8rem;
    text-decoration: none; 
}
header nav ul li:hover{
    transform: translateY(-2px);
}
main #first-section{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.829)), url(https://64.media.tumblr.com/75652226642f77375b151055ef501fd8/e2ec20ba805172f8-46/s500x750/f1a186adc31e6ea441119d1b241453d60ef2d3b1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main #first-section .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #first-section .main-image img{
    width: 30vw;
    margin-left: 10%;
}
main #first-section .other-side{
    padding: 20px;
}
main #first-section .other-side .text p{
    font-size: 3rem;
    color: rgba(248, 248, 248, 0.774);
    text-shadow: 0 0 5px #ffffff7c, 0 0 10px #ffffff4d;
}
main #first-section .other-side .buttons .button{
    margin: 2% 0 2% 0;
}
main #first-section .other-side .buttons .button img{
    margin: 0 0 -.2% 1%;
    transition: 1s;
}
main #first-section .other-side .buttons .button a{
    width: 50%;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgba(248, 248, 248, 0.774);
    border: 1px solid rgb(248, 248, 248);
    border-radius: 10px;
    transition: 1s;
}
main #first-section .other-side .buttons .button a:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(14, 14, 14);
    transform: translateY(-3px);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.753);
    -moz-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.719);
    box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.671)
}
main #first-section .other-side .buttons .button a:hover img{
    filter: invert(100%);
    transform: translateX(10px);
}
main #first-section .other-side .paragrapher p{
    max-width: 60%;
    font-size: .6em;
    opacity: .5;
}
main #first-section .scroll-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
main #first-section .scroll-footer img{
    width: 100px;
    animation: swipe-animation 1s infinite alternate;
}

main #second-section{
    background-image: url(../assets/background/lines.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
main #second-section .aside img{
    width: 40vw;
    margin-left: -3%;
}
main #second-section .aside p{
    max-width: 80%;
    font-size: 1vw;
}
main #second-section .other-side img{
    width: 130%;
}

main #third-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
main #third-section .asset{
    position: relative;
}
main #third-section .asset img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    opacity: .7;
}
main #third-section .asset h1{
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(248, 248, 248, 0.774);
    text-shadow: 0 0 5px #ffffff7c, 0 0 10px #ffffff4d;
}
main #third-section .scroll-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1% 5%;
    padding: 10px;
}
main #third-section .scroll-footer img{
    width: 100px;
    animation: swipe-animation 1s infinite alternate;
}

main #fourth-section{
    width: 100%;
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main #fourth-section .title img{
    margin-left: -2%;
    width: 20vw;
}

main #fourth-section #content{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
main #fourth-section #content .card{
    background-color: rgba(1, 1, 1, 1);
    color: #f3f3f3;
    transition: .5s;
}
main #fourth-section #content .card:hover{
    transform: scale(1.03);
    cursor: pointer;
}
main #fourth-section #content:has(.card:hover) .card:not(:hover){
    scale: .99;
    opacity: .7;
}
main #fourth-section #content .card p{
    color: #f3f3f3bd;
}
main #fourth-section #content .card a{
    padding: 3%;
    background-color: #111414;
    border: none;
    transition: .5s;
}
main #fourth-section #content .card a:hover{
    transform: translateY(-3px);
    opacity: .5;
}

main #fifth-section{
    width: 100%;
    padding: 5% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #fifth-section .title img{
    margin-left: -2%;
    width: 20vw;
}
main #fifth-section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.slider {
    overflow: hidden;
    width: 25%;
    margin: 0 auto;
    position: relative;
}
.slides {
    display: flex;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
}
.slide {
    flex: 0 0 100%;
}
.slide img {
    width: 100%;
}
.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.flex{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.slide-text{
    width: 50%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 1rem;
    opacity: .2;
    padding: 10px;
}

@keyframes swipe-animation {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(10px);
    }
}