@media screen and (max-width: 520px){
*{
    box-sizing: border-box;
}
header nav{
    display: none;
}
main{
    height: 50vh;
    flex-direction: column;
}
main h1{
    margin-top: 30px;
}
main .memoji img{
    margin-left: 10%;
    width: 70%;
}
#introduction{
    height: 60vh;
    flex-direction: column;
}
#introduction .text{
    width: 90%;
    font-size: .8em;
    text-align: center;
}
#introduction .text p{
    font-size: 1.2em;
    max-width: 80%;
    text-align: center;
}
#introduction img{
    width: 40%;
    margin: 10% 0% 0% 31%;
}
#experience .interaction p{
    margin-top: 10%;
    font-size: 80%;
    text-align: center;
}
#experiences{
    flex-direction: column;
}
#experience .buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}
#experience .buttons #button-01 img, #experience .buttons #button-02 img, #experience .buttons #button-03 img{
    width: 65px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#js-experiences{
    flex-direction: column;
}
#js-experiences img{
    width: 70%;
}
#js-experiences #principal h1{
    max-width: 90%;
    text-align: center;
   font-size: 2em;
}
#js-experiences #paragrapher-info{
    max-width: 80%;
    font-size: 90%;
    text-align: center;
}








}