@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select: none;
    /* animation: fadeIn 2s; */
}
body{
    width: 100%;
    background-color: rgb(18, 17, 19);
    font-family: 'Raleway', sans-serif;
}

/* Header */

header{
    width: 100%;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: rgb(248, 248, 248);
    justify-content: center;
    border-bottom: 1px solid rgba(19, 19, 16, 0.062);
}
header nav{
    display: flex;
}
header nav a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    text-transform: none;
    color: rgba(24, 24, 24, 0.685);
    cursor: pointer;
    transition: .5s;
}
header nav a:hover{
    transform: translateY(-2px);
    color: rgb(87, 5, 69);
}

/* Main (& Relacionados) */

main{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #me{
    display: flex;
    flex-direction: column;
    align-items: center;

}
main #me h1{
    color: rgb(26, 26, 26);
    font-size: 3em;
    font-weight: 600;
    max-width: 80%;
    text-align: center;
    font-family: 'Raleway', monospace;
    font-weight: 700;
}
main #me #english{
    color: rgb(26, 26, 26);
    margin-top: 10px;
    font-weight: 300;
}
main #me span{
    color: rgb(132, 23, 160)
}
main .memoji img{
    width: 80%;
}

/* Section - Sobre mim (& Relacionados) */

#introduction{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
}
#introduction img{
    width: 300px;
    margin-left: 50%;
}
#introduction .text{
    margin-left: 10%;
}
#introduction .text h1{
    font-family: monospace;
    color: rgb(250, 250, 250);
    font-size: 2em;
    margin: 20px;
    padding: 20px;
}
#introduction .text p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: rgb(250, 250, 250);
    font-size: 1.3em;
    max-width: 80%;
    margin: 20px;
    padding: 20px;
}

/* Section - Experiencias (& Relacionados) */


#experience{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 243, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#experience h1{
    margin-top: -20px;
    font-size: 2rem;
    color: rgb(132, 23, 160);
}
#experience .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#experience .buttons #button-01 img, #experience .buttons #button-02 img, #experience .buttons #button-03 img{
    width: 80px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    border: 1px solid rgba(115, 5, 143, 0.274);
    transition: .5s;
}
#experience .buttons #button-01 img:hover, #experience .buttons #button-02 img:hover, #experience .buttons #button-03 img:hover{
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(159, 11, 189, 0.315);
    cursor: pointer;
    transform: scale(110%);
}

/* Section que é manipulada pelo JS */

#js-experiences{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#js-experiences #principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    visibility: hidden;
}
#js-experiences #principal h1{
    max-width: 70%;
   font-size: 2em;
}
#js-experiences img{
    margin-top: 20px;
    width: 300px;
}
#js-experiences #paragrapher-info{
    max-width: 40%;
    color: rgb(250, 250, 250);
    visibility: hidden;
}

















































/* Parte do Scroll Reveal */

main #me, main img, #introduction img, #introduction .text p,  #introduction .text h1, #experience h1, #experience span, .buttons #button-01, #button-02, #button-03{
    visibility: hidden;
}